* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    margin: 50px;
}

.caja1 {
    position: relative;
    width: 150px;
    height: 200px;
    background-color: #f00;
    display: inline-block;
    transform: rotate(45deg);
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    left: 20px;
    top: 20px;
}

.caja2 {
    position: relative;
    width: 200px;
    height: 150px;
    background-color: #f00;
    display: inline-block;
    transform: rotate(45deg);
    left: 6%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.caja3 {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #f00;
    transform: rotate(45deg);
    left: 115px;
    bottom: 64px;
}

div {
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

.cont>ul {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.6s ease-in;
}

.cont:hover>ul {
    opacity: 1;
    height: auto;
}